@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---BASE---*/

:root {
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    --primary-colour: #3fb0ac;
    --secondary-colour: #89bdd3;
    --bg-secondary: #F1F1EF;
    --text-secondary: #fae596;
    --transition-speed: 500ms ease;
    
}

body{
    
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--primary-colour);
}

body::-webkit-scrollbar-thumb{
    background: #e78d50;
}

main {
    margin-left: 5rem;
    padding: 0rem;
    background: var(--bg-secondary);
}

/*---FRONT PAGE---*/

.top-body{
    background: var(--bg-secondary);
    min-height: 1000px;
}



section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, var(--bg-secondary), transparent, transparent);
    z-index: 3;
  
}


section img{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
 }



.head-section{
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20%;
    z-index: 10;
}

.main-text {
    width: 500px;
    
}

.main-text h1{
    font-size: 5em;
    color: black;
    margin: 0px 0px 10px 0px;
    line-height: 90px;
}

.main-text p{
    color: #292929;
    padding: 10px;
}


.homeGo {
    width: 180px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 23px;
    color: rgb(255, 255, 255);
    border: 4px solid #0f75e9;
    background-color: #0f75e9;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.1s ease;
    font-family: 'Inconsalata', monospace;
    z-index: 20;
    
}

.homeGo:hover {
    color: #2c725b;
    background: var(--text-secondary);
    border: 4px solid var(--text-secondary);;
}

/*---HOME MAIN---*/

.home-content{
    position: relative;
    width: 100%;
    min-height: 5vw;
    align-items: center;
    text-align: center;
    padding: 10vw;
    opacity: 0;
    z-index: 1;

}

.home-content h3{
    font-size: xx-large;
    padding-bottom: 0.5rem;
}

.home-content p{
    font-size: x-large;
}



/*---STEPS---*/

.steps{
    min-height: 10vh;
    background: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.steps:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

.container{
    max-width: 100vw;
    display:grid;
    justify-content: space-between;
    
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 350px;
    height: 300px;
    transition: 0.5s;
}

.container .card .face.facea{
    position: relative;
    background: var(--secondary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px)
}

.container .card .face.faceb{
    position: relative;
    background: var(--secondary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px)

}

.container .card .face.facec{
    position: relative;
    background: var(--secondary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px)

}

.container .card:hover .face.facea{
    background: var(--primary-colour);
    transform: translateY(0);
    background-image: url(/img/yoga.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.container .card:hover .face.faceb{
    background: var(--primary-colour);
    transform: translateY(0);
    background-image: url(/img/brainstorm.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.container .card:hover .face.facec{
    background: var(--primary-colour);
    transform: translateY(0);
    background-image: url(img/breath.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.container .card .face .facea .card-content{
    opacity: 0.8;
    transition: 0.8s;
    
}

.container .card .face .faceb .card-content{
    opacity: 0.8;
    transition: 0.8s;
    
}

.container .card .face .facec .card-content{
    opacity: 0.8;
    transition: 0.8s;
    
}

.container .card:hover .face.facea .card-content{
    opacity: 1;
}

.container .card .face.facea .card-content1 img{
    max-width: 100px;
}
.container .card .face.faceb .card-content2 img{
    max-width: 100px;
}
.container .card .face.facec .card-content3 img{
    max-width: 100px;
}

.container .card:hover .face.facea .card-content1 img{
   display: none;

}

.container .card:hover .face.faceb .card-content2 img{
    display: none;
 
 }
 .container .card:hover .face.facec .card-content3 img{
    display: none;
 
 }


.container .card .face.face2{
    position: relative;
    background: var(ivory);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.touch-effect {
    transform: translateY(0);
}

.container .card .face.face2 .card-content p{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/*---NAVBAR---*/

.navbar:hover .logo svg {
    transform: scaleX(-1);
}

.navbar {
    z-index: 5;
    position: fixed;
    background-color: var(--primary-colour);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo{
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    color: rgb(43, 43, 43);
    background: var(--secondary-colour);
    font-size: 1.6rem;
    width: 100%;
    
}


.nav-logo {
    font-size: 26px;
    display: flex;
    align-items: center;
    height: 4rem;
    color: rgb(39, 39, 39);
    text-decoration: none;
    filter: grayscale(0%) opacity(1) ;
    transition: var(--transition-speed);
}

.logo-text{
    color: rgb(51, 51, 51);
    display: none;
    margin-left: 1rem;
}

.nav-item {
    width: 100%;
}

.nav-link {
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 4rem;
    color: darkslategrey;
    text-decoration: none;
    filter: grayscale(80%) opacity(0.7) ;
    transition: var(--transition-speed);
}


.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--secondary-colour);
    color: var(--text-secondary);
    transition: var(--transition-speed);
}

.link-text {
    font-size: 1em;
    display: none;
    margin-left: 1rem;
}

.fa-primary {
    color: rgb(17, 17, 17);
}

.fa-secondary {
    color: var(--secondary-colour);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}





/*---AUDIO PLAYER---*/

.container2{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-left: 4%;
    width: 100%;
    
}

.container2 span{
    text-transform: uppercase;
    color: black;
    display: flex;
}



@keyframes text {
    
    0%{
        opacity: 0%;
        color: black;
        
    }
    30%{
        opacity: 70%;
    }
    70%{
        letter-spacing: 10px;
        opacity: 70%;
    }
    90%{
        letter-spacing: 8px;
        opacity: 100%;
    }
}




.thunder-body{
    background-image: linear-gradient(180deg, #F1F1EF 50%, #ba96c9 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
   
}

.rain-body{
    background-image: linear-gradient(180deg, #F1F1EF 50%, #9fa3c5 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
   
}

.nature-body{
    background-image: linear-gradient(180deg, #F1F1EF 50%, #8dbb9c 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.lotus-body{
    background-image: linear-gradient(180deg, #F1F1EF 50%, #dda1bf 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.shakuhachi-body{
    background-image: linear-gradient(180deg, #F1F1EF 50%, #eb8079 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
   
}


.kachina-body{
    background-image: linear-gradient(180deg, #F1F1EF 50%, #7eb8ad 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.audio-container{
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    box-shadow: 0 20px 20px 0 rgba(88, 224, 195, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: auto;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 100px;
    height: 250px;
}



.img-container img{
    border-radius: 20%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    animation:  rotate 3s linear infinite;

    animation-play-state: paused;
    bottom: 60px;
    left: -12px;
}

.audio-container.play .img-container img{
    animation-play-state: running;
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.play-pause{
    transform: translate(0, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    margin: 0 20px;
    transform: translate(-50px, 85px);
   

}

.action-btn.action-btn-big{
    color: #cdc2d0;
    font-size: 30px;
    right: 50px;
}

.action-btn:focus{
    outline: 0;
}


.time-select button:hover{
    color: #173e43;
    background: #7bdb9b;
    border: 3px solid #7bdb9b;
}

/*--- INDEX DESCRIPTION SECTION---*/

.index-desc{
    background: #79C9F9;
    position: relative;
    width: 100%;
    min-height: 20vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    padding: 8vw;
    z-index: 1;
}

/*--- CARD QUOTES ---*/

.quote-title{
    margin: auto;
    text-align: center;
    max-width: 100vw;
    position: center;
    padding-top: 10vw;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 8vw;
    font-weight: 700;
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
}

.quote-body{
    padding: 0.5rem;
    margin: 0px;
    background-color: #264d52;
    color: white;
    border: 0px solid black;
    width: 100%;
    border-radius: 20px;
    
}

.card-list {    
    display: flex;
    padding: 2rem;
    border-radius: 20px;
    overflow-x:scroll;
    background-color: #505e86;

}

.card2 {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    height: 400px;
    width: 20vw;
    min-width: 250px;

   
    padding: 1.5rem;
    border-radius: 16px;
    background: #1a2647;
    box-shadow: -1rem 0 1rem #000;

    transition: .2s;
}

.card-header {
    

}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    
}

.card-header p {
    font-size: 0.6rem;
}

.card2 h2 {
    font-size: 20px;
    
}

.card-list::-webkit-scrollbar{
    width: 10px;
    height: 10px;

}

.card-list::-webkit-scrollbar-thumb{
    
    background: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0,0,0, .25);

}

.card-list::-webkit-scrollbar-track{
    
    border-radius: 10px;
    background: linear-gradient(90deg, var(--secondary-colour), var(--secondary-colour) 1px,  0, var(--secondary-colour));

}

.card2:hover {
    transform: translateY(-1rem);

}

.card2:hover~.card2{
    transform: translateX(130px);
}

.card2:not(:first-child) {
    margin-left: -130px;
}



.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.author-name {
    font-size: 0.7rem;
}

.card2 h2:hover{
    background: linear-gradient(90deg, #6aecf5, #00e759);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
 


/*--- FOOTER ---*/



.foot-content{
    display: flex;
}

.foot-content .box{
    flex-basis: 50%;
    padding: 10px 20px;

}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
    font-size: 0.6rem;
}

.Email .text{
    font-size: 0.7rem;
}


/*-- Mobile Layout--*/
@media only screen and (max-width: 800px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .logo{
        display: center;
    }

    .logo svg{
        transform: scaleX(1);
        transition: transform var(--transition-speed);
        min-width: 2rem;
        margin: 0 0.5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    .nav-link svg{
        min-width: 1rem;
        max-width: 1rem;
        margin: 0 1.5rem;
        padding: 2px;
    }

    #heading{
    
        position: absolute;
        max-width: 70vw;
        max-height: 88vh;
        color: rgb(0, 0, 0);
        padding: 3rem;
        top: 0;
        font-family: 'Berkshire Swash', cursive;
        font-size: 5rem;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        z-index: 1;
        transition: all 0.1s ease;
    }

    main{
        margin: 0;
    }

    #bg{
        width: 100%;
        height: 120vh;
    }
    
    #cloud{
        position: absolute;
        padding-left: 10vw;
        top: 50vh;
        width: 40vw;
        transition: 0.1s;
    }
    
    #mountain{
        top: 65vh;
        width: 100%;
        height: 20vh;
    }
    
    #ground{
        z-index: 2;
        top: 70vh;
        width: 100%;
        height: 30vh;
    }

    .thunder_svg{
        zoom: 0.7;
    }

    .rain_svg{
        zoom: 0.7;
    }

    .nature_svg{
        zoom: 0.7;
    }

    .lotus_svg{
        zoom: 0.7;
    }

    .shakuhachi_svg{
        zoom: 0.7;
    }

    .kachina_svg{
        zoom: 0.7;
    }

    .nav-link svg{
        min-width: 1.5rem;
        margin: 0 0.2rem;
    }

    .texth{
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 8px;
        margin-bottom: 0px;
        position: relative;
        animation: text 1s 1;
        transition: opacity 2s;
    }

    .time-select button {
        color: rgb(58, 58, 58);
        width: 13%;
        height: 100%;
        background: none;
        border: 3px solid #3C403D;
        background-color: var();
        cursor: pointer;
        font-size: 0.6rem;
        font-weight: bold;
        transition: all 0.5s ease;
        font-family: 'Inconsalata', monospace;
        transform: translateX(50px);
        
    }

    .time-el{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
   }

    .time-display{
        justify-content: center;
        display: flex;
    }

    .time-select {
        display: flex;
        gap: 0.1rem;
    }

    .player-container {

        padding-left: 1%;
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    
    .player-container svg {
        position: relative;
        height: 50%;
        top: 50%;
        left: 50%;
        transform:  translate(-50%, -50%);
    }
    

    footer{
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 50vh;
        background-color: #F1F1EF;

    }

    .foot-content{
        display: flex;
    }
    
    .foot-content .box{
        flex-basis: 50%;
        padding: 10px 20px;
    
    }
    
    .box h2{
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .box .content{
        margin: 20px 0 0 0;
    }
    
    .left .content p{
        text-align: justify;
        font-size: 12px
    }
    
    .Email .text{
        font-size: 12px;
    }

    .quote-body{
        padding: 0.5rem;
        margin: 0px;
        background-color: #264d52;
        color: white;
        border: 0px solid black;
        width: 100%;
        border-radius: 20px;
        
    }


}


/*-- Desktop Layout --*/
@media only screen and (min-width: 801px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .nav-link svg{
        min-width: 2rem;
        max-width: 2rem;
        margin: 0 1.5rem;
        padding: 0px;
    }

    .logo svg{
        transform: scaleX(1);
        transition: transform var(--transition-speed);
        min-width: 2rem;
        margin: 0 1.5rem;
    }

    .navbar:hover {
        width: 13rem;
    }

    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed);
    }


    #heading{
    
        position: absolute;
        max-width: 70vw;
        max-height: 88vh;
        color: rgb(0, 0, 0);
        font-size: 10vw;
        padding: 3rem;
        padding-left: 5rem;
        top: 0;
        font-family: 'Berkshire Swash', cursive;
        
        
        font-size: 11rem;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        z-index: 1;
        transition: all 0.1s ease;
    }


    #bg{
        width: 100%;
        height: 70vh;
    }
    
    #cloud{
        position: absolute;
        padding-left: 10vw;
        top: 10vh;
        width: 40vw;
        transition: 0.1s;
    }
    
    #mountain{
        top: 25vh;
        width: 100%;
        height: 60vh;
    }
    
    #ground{
        z-index: 2;
        top: 60vh;
        width: 100%;
        height: 50vh;
    }

    

    .texth{
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 8px;
        margin-bottom: 20px;
        position: relative;
        animation: text 1s 1;
        transition: opacity 2s;
    }

    .time-el{
        margin-bottom: 1rem;
        justify-content: center;
        
   }

    

    .time-display{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0.5rem;
    }

    .time-select {
        display: flex;
        gap: 0.3rem;
    }

    .time-select button {
        color: rgb(58, 58, 58);
        width: 15%;
        height: 100%;
        background: none;
        border: 3px solid #3C403D;
        background-color: var();
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: bold;
        transition: all 0.5s ease;
        font-family: 'Inconsalata', monospace;
        transform: translateX(50px);
        
    }

    .player-container {
        padding-left: 1%;
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2rem;
    }


    
    

    
    .player-container svg {
        position: relative;
        height: 50%;
        top: 50%;
        left: 50%;
        transform:  translate(-50%, -50%);
    }
    


}